.bot-area {
    width: 17vw;
    height: 48vh;
    position: absolute;
    top: 10vh;/* COlocado no header */
    background-color: aliceblue;
    right: 0px;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    font-size: 1.5vw;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px 5px black;
}

.infoBots {
    font-size: 2vw;
    text-align: center;
    margin: 0px;
    padding: 4px;
    margin-bottom: 15px;
}

.bot-area ~ p {
    display: inline;
}

.bot{
    background-color: black;
    color: white;
    width: 70%;
    
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    /* display: grid;
    grid-template-columns: 1fr 2vw;
    padding-left: 4px; */
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.bot1 {
    background-color: rgb(31, 219, 219);
}
.bot2 {
    background-color: rgb(216, 32, 32);

}
.bot3 {
    background-color: rgb(97, 212, 132);
}
.bot4 {
    background-color: rgb(241, 26, 248);
}


.player {
    background-color: rgb(153, 9, 9);
    /* width: 70%;
    height: 15%;
    margin-bottom: 40px; */
}

@media(max-width:960px) { /* Mobile/tablet */
    .bot-area {
        position: absolute;
        top: auto;
        width: 100%;
        max-width: 99vw;
        height: 30px;
        border-radius: 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;      
 
    }

    .infoBots{
        display: none;
    }
    
    .bot {
        position: relative;
        /* display: flex;
        align-items: center;
        justify-content: space-around; */
        height: 100%;
        width: 20%;
    }

    .player {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }
}

@media (min-width: 1440px) {
    .bot-area {
        max-height: 600px;
    }

    .bot {
        max-height: 15%;
    }
}
/* 
@media(max-width:390px) {
    .bot-area{
        top:390px
    }
}

@media(max-width:700px) {
    .bot-area{
        top:420px
    }
} */

